{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="d-md-block col-md-7 mb-4">
                <img src="{% static 'images/about_pic.jpg' %}" width="75%">
            </div>
        </div>
        <div class="row">
            <!-- Title -->
            <h2>{{ about.title }}</h2>
            <!-- Content -->
            {{ about.content | safe }}
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-md-5 card mb-4 mt-3">
            <h3 class="mt-2">Bookings:</h3>
            <div class="card-body">
                {% for booking in bookings %}
                <div
                    class="p-2 bookings{% if not booking.confirmed and booking.client == user %} faded{% elif not booking.client == user %} d-none{% endif %}">
                    {% if not booking.confirmed and booking.client == user %}
                    <p class="approval">
                        This booking is awaiting approval
                    </p>
                    {% endif %}
                    {% if booking.confirmed and booking.client == user %}
                    <h4>Hi {{ booking.client }}!</h4>
                    <p class="font-weight-bold">
                        Your booking requested on:
                        <br>
                        The {{ booking.request_date }} has been approved.
                        <br>
                        We look forward to seeing you!
                    </p>
                    <div id="booking{{ booking.id }}">
                        {{ booking.message | linebreaks }}
                    </div>
                    <p class="font-weight-bold">
                        The Details are:
                    </p>
                    <p>DATE: {{ booking.booking_date }}</p>
                    <p>TIME: {{ booking.booking_time }}</p>
                    <p>DINERS: {{ booking.guests }}</p>
                    <p>If you needed to cancel or make any amendments just get in touch.</p>

                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Booking Form -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Hi {{ user.username }}!</h3>
                <p>Please fill in the form below if you'd like to book:</p>
                <form id="bookingForm" method="post" style="margin-top: 1.3em;">
                    {{ booking_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% else %}
                <p>Please log in or create an account if you'd like to make a booking!</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}