body {
    background-color: #fff9c4;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
}

.navbar-brand {
    color: #fff;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #842029;
}

.main-bg {
    background-color: #fff9c4;
}


.card {
    border: 1px solid #842029;
    background-color: rgba(209, 36, 36, 0.11);
    flex-direction: row;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #842029;
}

.scale {
    width: 100%;
    height: auto;
}

.date {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 40vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 80%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.event-link {
    text-decoration: none;
    color: #842029;
}

.event-link:hover,
.event-link {
    color: #842029;
}

.event-title {
    margin-top: 10%;
    margin-left: 5%;
}

.event-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.event-row {
    justify-self: center;
}

.comment-row, .booking-row {
    max-width: fit-content;
    justify-self: center;
}

.index-text {
    color: #842029;
    padding-bottom: 2%;
}

.btn-signup,
.btn-edit {
    background-color: #529c0d;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #842029
}

.link {
    color: #842029;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #ffffff;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #bd2f00;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

#logo {
    color: #ffffff;
}